*{
  font-family: "Lora", serif;
}

h1 {
  font-family: "Audiowide", serif;
  color: white;
  margin-bottom: 16px;
}


.table-container {
  overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100vw;
}

thead {
    background-image: linear-gradient(#FAFAF0, #A83E3E );
}

th {
    padding: 0.4em;
}

td {
    text-align: center;
    padding: 0.3em;
}

tr[class="read"] {
    background-image: linear-gradient(#fafaf0,#31b981 );
}

tr[class="to-read"] {
    background-image: linear-gradient(#fafaf0,#5d5c37);
}

tr[class="in-progress"] {
    background-image: linear-gradient(#fafaf0, #f5e6b3);
}

span {
    display: inline-block;
}

span[class="status"] {
    border-radius: 20%/60%;
}

span[class="status"],
span[class^="rate"] {
    height: 1.85em;
    width: 7em;
    padding: 0.3em;
}

tr[class="to-read"] span[class="status"] {
    border: 0.1em solid #e61300;
    background-image: linear-gradient(#ff8a80, #ff1500);
}

tr[class="read"] span[class="status"] {
    border: 0.1em solid #1dc91d;
    background-image: linear-gradient(#8fef8f, #20df20);
}

tr[class="in-progress"] span[class="status"] {
    border: 0.1em solid #c2850a;
    background-image: linear-gradient(#f9d286, #f2a60d);
}

span[class^="rate"] > span {
    border: 0.1em solid hsl(0, 0%, 50%);
    border-radius: 50%;
    background-color: hsl(0, 15%, 95%);
    height: 100%;
    width: 20%;
    margin: 0.1em;
}

span[class~="three"] span {
    background-image: linear-gradient(#ffe666, #e6c455);
}

span[class~="two"] :nth-child(1),
span[class~="two"] :nth-child(2) {
    background-image: linear-gradient(#ffe666, #e6c455);
}

span[class~="one"] :first-child {
    background-image: linear-gradient(#ffe666, #e6c455);
}
